

button {
    background-color: $primarycolor;
}

h2 {
    color: $primarycolor;
}

nav ul li a{

}

nav{
    ul{
        padding: 20px;
        li{
            a{
                color: $primarycolor;
                
            }
        }
    }
}