@import './base';

button {
    background-color: $primarycolor;
}

h2 {
    color: $primarycolor;
}

// nav ul li a{

// }

nav{
    ul{
        padding: 20px;
        li{
            a{
                color: $primarycolor;
                
            }
        }
    }
}

@mixin alertBox {
    padding: 10px;
    border-radius: 5px;
    width: max-content;
    background-color: aquamarine;
}

.alert {
    
    &.done{
        background: green;
        border-radius: 2px;
    }
}